.App{
  display: grid;
  grid-template-areas: "header" "contents" "footer";
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 5fr;
  /* background-color: #210124; */
}

.header{
  grid-area: header;

}

.contents{
  grid-area: contents;
}

.footer{
  grid-area: footer;
}