.contentHeader{
    /* height: 80px;
    width: 100vw; */
    background-color: #210124;
    color: #db2763;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(238, 43, 222, 0.42);
}


.listaHeader{
    font-size: 26px;
    font-weight: 400;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.listaComum{
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

.listaComum:hover{
    color: #bce7fd;

}
.listaTitle{
    /* color: #12eaea; */
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    font-weight: 900;
    text-decoration: none;
}
.listaTitle:hover{
    color: #bce7fd;
}
