section{
    height: 80%;
}

.banner{
    width: 100%;
    height: 1100px;
    background: url(../../img/banner-home.jpg) no-repeat 50%;
    /* background-repeat: no-repeat; */
    background-size:cover;
    /* margin-bottom: 10px; */
    background-position: center;
    grid-area: contents;
}

h3{
    text-align: center;
    color: white;
}